doctype html
html(lang="en")
  head
    title pageTitle
    link(href="css/main.css", rel="stylesheet")
    
  body
    div.container
      h1 Jade© _- node template engine
      a(href="/somepage") SomePage
    script(src="js/libs.min.js")
    script(src="js/main.js")
